# docs/requirements.txt

# Main documentation engine
sphinx

# Sphinx-theme
sphinx-rtd-theme

# Extension to link Doxygen (XML) with Sphinx
breathe

# Add another extension required by conf.py
# Example:
# sphinxcontrib-napoleon # To use docstrings with Google/Numpy style
# sphinx-copybutton      # To use bottons to copy code
